@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e7e1e1;
    text-align: center;
    min-height: 100vh;
}
.container__btn--checkbox input{
    position: relative;
    width: 30px;
    height: 15px;
    border-radius: 10px;
    cursor: pointer;
    background: #c4c4c4;
    -webkit-appearance: none;
    transition: 0.5s;
}
.container__btn--checkbox input:checked{
    background: turquoise;
}
.container__btn--checkbox input::after{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    border-radius: 100%;
    top: 1px;
    left: 3px;
    background: #fff;
    transition: 0.5s;
}
.container__btn--checkbox input:checked[type="checkbox"]::after{
    left: 15px;
}
.container__box--basic{
    display: inline-block;
    background: #fff;
    width: 250px;
    height: 300px;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
}
.container__box--basic:hover{
    background: linear-gradient(#9c9fee, #3e4083);
    color: #fff;
    transition: 0.5s;
}
.container__box--basic:hover a{
    background: #fff;
    color: #000;
}
.container__box--basic h1{
    border-bottom: 1px solid #000;
    font-size: 40px;
    
}
.container__box--basic p{
    padding: 3px 0;
    border-bottom: 1px solid #000;
}
.container__box--basic h1 b{
    font-size: 15px;
}
.container__box--basic a{
    color: #fff;
    display: block;
    border-radius: 5px;
    height: 30px;
    padding-top: 2px;
    margin-top: 10px;
    text-decoration: none;
    background: #9c9fee;
}
.container__box--professional{
    display: inline-block;
    background: #fff;
    width: 250px;
    height: 300px;
    padding: 30px;
    border-radius: 10px;
}
.container__box--professional h1{
    border-bottom: 1px solid #000;
    font-size: 40px;
    
}
.container__box--professional p{
    padding: 3px 0;
    border-bottom: 1px solid #000;
}
.container__box--professional h1 b{
    font-size: 15px;
}
.container__box--professional a{
    color: #fff;
    display: block;
    border-radius: 5px;
    height: 30px;
    padding-top: 2px;
    margin-top: 10px;
    text-decoration: none;
    background: #9c9fee;
}
.container__box--professional:hover{
    background: linear-gradient(#9c9fee, #3e4083);
    color: #fff;
    transition: 0.5s;
}
.container__box--professional:hover a{
    background: #fff;
    color: #000;
}
.container__box--master{
    display: inline-block;
    background: #fff;
    width: 250px;
    height: 300px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 30px;
    border-radius: 10px;
}
.container__box--master h1{
    border-bottom: 1px solid #000;
    font-size: 40px;
    
}
.container__box--master p{
    padding: 3px 0;
    border-bottom: 1px solid #000;
}
.container__box--master h1 b{
    font-size: 15px;
}
.container__box--master a{
    color: #fff;
    display: block;
    border-radius: 5px;
    height: 30px;
    padding-top: 2px;
    margin-top: 10px;
    text-decoration: none;
    background: #9c9fee;
}
.container__box--master:hover{
    background: linear-gradient(#9c9fee, #3e4083);
    color: #fff;
    transition: 0.5s;
}
.container__box--master:hover a{
    background: #fff;
    color: #000;
}
@media screen and (max-width: 520px){
    .container__box--master{
        margin-left: 15px;
    }
}
@media screen and (max-width: 518px){
    .container__box--master{
        margin-left: 0;
    }
}